<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TestPressureMapper">
  <resultMap id="BaseResultMap" type="com.test.dto.TestPressure">
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="AGE" jdbcType="DECIMAL" property="age" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="ADDR" jdbcType="VARCHAR" property="addr" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
  </resultMap>
  <insert id="insert" parameterType="com.test.dto.TestPressure">
    insert into TEST_PRESSURE (ID, NAME, AGE,
    SEX, ADDR, PHONE, COUNTRY,
    DEPARTMENT)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=DECIMAL},
    #{sex,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR},
    #{department,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.dto.TestPressure">
    insert into TEST_PRESSURE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="addr != null">
        ADDR,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!--这个批量插入使用的ID 是java生成的 而不是使用Oracle的序列生成的-->
  <insert id="batchInsert" parameterType="java.util.List">
    insert into TEST_PRESSURE(NAME, AGE, SEX,
    ADDR, PHONE, COUNTRY,
    DEPARTMENT, ID)
    <foreach collection="list" item="item" index="index" separator="union all" >
      (select
      #{item.name,jdbcType=VARCHAR}, #{item.age,jdbcType=DECIMAL}, #{item.sex,jdbcType=VARCHAR},
      #{item.addr,jdbcType=VARCHAR},#{item.phone,jdbcType=VARCHAR},
      #{item.country,jdbcType=VARCHAR},#{item.department,jdbcType=VARCHAR},
      #{item.id,jdbcType=DECIMAL}
      from dual)
    </foreach>
  </insert>

  <!--下面使用Oracle序列生成唯一主键-->
<!--  <insert id="batchInsert" parameterType="java.util.List">
    insert into TEST_PRESSURE(ID,NAME, AGE, SEX,
    ADDR, PHONE, COUNTRY,
    DEPARTMENT)
    select TEST_PRESSURE_SEQ.nextval,T.* from (
    <foreach collection="list" item="item" index="index" separator="union all">
      select
      #{item.name,jdbcType=VARCHAR}, #{item.age,jdbcType=DECIMAL}, #{item.sex,jdbcType=VARCHAR},
      #{item.addr,jdbcType=VARCHAR},#{item.phone,jdbcType=VARCHAR},
      #{item.country,jdbcType=VARCHAR},#{item.department,jdbcType=VARCHAR}
      from dual
    </foreach>
    ) T
  </insert>-->


</mapper>